In [90]:
import glob
import pandas as pd
import numpy as np

Mor_files = glob.glob("Morocco_*final.txt")
Mor_files

['Morocco_1.msmc.final.txt',
 'Morocco_2.msmc.final.txt',
 'Morocco_5.msmc.final.txt',
 'Morocco_4.msmc.final.txt',
 'Morocco_3.msmc.final.txt']

In [99]:
df_1 = pd.read_csv("Morocco_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("Morocco_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("Morocco_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("Morocco_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("Morocco_5.msmc.final.txt", sep="\t")
df_1

    time_index  left_time_boundary  right_time_boundary       lambda
0            0        0.000000e+00         5.938360e-07  15010.40000
1            1        5.938360e-07         1.328350e-06  15010.40000
2            2        1.328350e-06         2.236880e-06   7569.79000
3            3        2.236880e-06         3.360630e-06   4920.39000
4            4        3.360630e-06         4.750610e-06   4043.81000
5            5        4.750610e-06         6.469870e-06   3784.63000
6            6        6.469870e-06         8.596430e-06   3778.12000
7            7        8.596430e-06         1.122680e-05   3881.20000
8            8        1.122680e-05         1.448030e-05   4044.04000
9            9        1.448030e-05         1.850450e-05   4241.78000
10          10        1.850450e-05         2.348210e-05   4452.93000
11          11        2.348210e-05         2.963880e-05   4658.11000
12          12        2.963880e-05         3.725420e-05   4844.54000
13          13        3.725420e-05         4.667360e-05   5004.41000
14          14        4.667360e-05         5.832440e-05   5132.94000
15          15        5.832440e-05         7.273540e-05   5227.11000
16          16        7.273540e-05         9.056040e-05   5284.81000
17          17        9.056040e-05         1.126080e-04   5303.96000
18          18        1.126080e-04         1.398790e-04   5282.66000
19          19        1.398790e-04         1.736100e-04   5219.50000
20          20        1.736100e-04         2.153330e-04   5114.28000
21          21        2.153330e-04         2.669390e-04   4968.95000
22          22        2.669390e-04         3.307720e-04   4787.98000
23          23        3.307720e-04         4.097260e-04   4577.83000
24          24        4.097260e-04         5.073840e-04   4346.14000
25          25        5.073840e-04         6.281780e-04   4100.88000
26          26        6.281780e-04         7.775890e-04   3849.72000
27          27        7.775890e-04         9.623940e-04   3485.15000
28          28        9.623940e-04         1.190980e-03   3485.15000
29          29        1.190980e-03         1.473720e-03      6.64891
30          30        1.473720e-03         1.823440e-03      6.64891
31          31        1.823440e-03                  inf      6.64891

In [100]:
df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
df_5

    time_index  left_time_boundary  right_time_boundary  lambda_5
0            0            0.000000             0.000001   3546.30
1            1            0.000001             0.000003   3546.30
2            2            0.000003             0.000005   1136.51
3            3            0.000005             0.000007   1142.88
4            4            0.000007             0.000010   1275.52
5            5            0.000010             0.000014   1446.54
6            6            0.000014             0.000019   1626.53
7            7            0.000019             0.000025   1798.96
8            8            0.000025             0.000032   1955.89
9            9            0.000032             0.000041   2094.78
10          10            0.000041             0.000052   2215.24
11          11            0.000052             0.000065   2316.43
12          12            0.000065             0.000082   2397.90
13          13            0.000082             0.000103   2459.95
14          14            0.000103             0.000129   2503.48
15          15            0.000129             0.000161   2529.50
16          16            0.000161             0.000200   2538.87
17          17            0.000200             0.000249   2532.49
18          18            0.000249             0.000309   2511.31
19          19            0.000309             0.000383   2476.95
20          20            0.000383             0.000475   2431.76
21          21            0.000475             0.000589   2378.86
22          22            0.000589             0.000730   2321.95
23          23            0.000730             0.000904   2264.69
24          24            0.000904             0.001120   2210.23
25          25            0.001120             0.001387   2160.94
26          26            0.001387             0.001717   2118.26
27          27            0.001717             0.002125   2073.48
28          28            0.002125             0.002629   2073.48
29          29            0.002629             0.003253   1925.56
30          30            0.003253             0.004025   1925.56
31          31            0.004025                  inf   1925.56

In [36]:
dfs = [df_1,df_2,df_3,df_4,df_5]

In [101]:
result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])


sorted_df = result_4.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Mor = sorted_fill.bfill()
full_fill_Mor.to_csv("Full_table_Mor", sep = "\t", index = False)

In [145]:
i = 1
for file in Mor_files:
    df_i = file
    print(df_i)
    i +=1

SyntaxError: can't assign to operator (<ipython-input-145-b49401d7eae8>, line 3)

In [149]:
dic = {}
for i,file in enumerate(Mor_files):
    dic["df_" + str(i)] = pd.read_csv(file, sep="\t")

In [152]:
dic["df_1"]

    time_index  left_time_boundary  right_time_boundary    lambda
0            0        0.000000e+00         9.075610e-07  14199.70
1            1        9.075610e-07         2.030120e-06  14199.70
2            2        2.030120e-06         3.418620e-06   3673.87
3            3        3.418620e-06         5.136060e-06   2747.97
4            4        5.136060e-06         7.260370e-06   2642.82
5            5        7.260370e-06         9.887920e-06   2683.97
6            6        9.887920e-06         1.313790e-05   2748.11
7            7        1.313790e-05         1.715790e-05   2840.55
8            8        1.715790e-05         2.213020e-05   2966.14
9            9        2.213020e-05         2.828040e-05   3112.48
10          10        2.828040e-05         3.588770e-05   3262.09
11          11        3.588770e-05         4.529710e-05   3402.01
12          12        4.529710e-05         5.693560e-05   3524.97
13          13        5.693560e-05         7.133130e-05   3628.13
14          14        7.133130e-05         8.913740e-05   3710.30
15          15        8.913740e-05         1.111620e-04   3771.56
16          16        1.111620e-04         1.384040e-04   3812.01
17          17        1.384040e-04         1.720990e-04   3831.39
18          18        1.720990e-04         2.137770e-04   3829.26
19          19        2.137770e-04         2.653290e-04   3804.76
20          20        2.653290e-04         3.290940e-04   3757.34
21          21        3.290940e-04         4.079640e-04   3686.92
22          22        4.079640e-04         5.055190e-04   3594.33
23          23        5.055190e-04         6.261850e-04   3481.31
24          24        6.261850e-04         7.754360e-04   3350.17
25          25        7.754360e-04         9.600460e-04   3203.70
26          26        9.600460e-04         1.188390e-03   3045.26
27          27        1.188390e-03         1.470830e-03   2817.47
28          28        1.470830e-03         1.820180e-03   2817.47
29          29        1.820180e-03         2.252290e-03   2032.57
30          30        2.252290e-03         2.786770e-03   2032.57
31          31        2.786770e-03                  inf   2032.57

In [102]:
df_1 = pd.read_csv("Mixed_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("Mixed_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("Mixed_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("Mixed_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("Mixed_5.msmc.final.txt", sep="\t")

In [103]:
df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
df_5

    time_index  left_time_boundary  right_time_boundary  lambda_5
0            0        0.000000e+00         8.851520e-07   6999.09
1            1        8.851520e-07         1.980000e-06   6999.09
2            2        1.980000e-06         3.334210e-06   3145.23
3            3        3.334210e-06         5.009250e-06   2981.14
4            4        5.009250e-06         7.081100e-06   3117.54
5            5        7.081100e-06         9.643770e-06   3243.26
6            6        9.643770e-06         1.281350e-05   3314.88
7            7        1.281350e-05         1.673430e-05   3370.50
8            8        1.673430e-05         2.158380e-05   3437.35
9            9        2.158380e-05         2.758220e-05   3520.67
10          10        2.758220e-05         3.500160e-05   3614.77
11          11        3.500160e-05         4.417860e-05   3710.78
12          12        4.417860e-05         5.552980e-05   3801.48
13          13        5.552980e-05         6.957000e-05   3881.54
14          14        6.957000e-05         8.693640e-05   3947.80
15          15        8.693640e-05         1.084170e-04   3998.91
16          16        1.084170e-04         1.349860e-04   4034.33
17          17        1.349860e-04         1.678500e-04   4053.51
18          18        1.678500e-04         2.084990e-04   4055.89
19          19        2.084990e-04         2.587780e-04   4040.66
20          20        2.587780e-04         3.209680e-04   4007.01
21          21        3.209680e-04         3.978910e-04   3954.59
22          22        3.978910e-04         4.930370e-04   3883.67
23          23        4.930370e-04         6.107230e-04   3795.06
24          24        6.107230e-04         7.562900e-04   3690.02
25          25        7.562900e-04         9.363410e-04   3570.06
26          26        9.363410e-04         1.159050e-03   3437.08
27          27        1.159050e-03         1.434510e-03   3239.94
28          28        1.434510e-03         1.775240e-03   3239.94
29          29        1.775240e-03         2.196680e-03   2708.04
30          30        2.196680e-03         2.717960e-03   2708.04
31          31        2.717960e-03                  inf   2708.04

In [104]:
result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])


sorted_df = result_4.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Mix = sorted_fill.bfill()
full_fill_Mix.to_csv("Full_table_Mix", sep = "\t", index = False)

In [105]:
df_1 = pd.read_csv("Iran_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("Iran_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("Iran_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("Iran_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("Iran_5.msmc.final.txt", sep="\t")

In [106]:
df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
df_5

    time_index  left_time_boundary  right_time_boundary  lambda_5
0            0        0.000000e+00         1.649570e-07  16505.80
1            1        1.649570e-07         3.790480e-07  16505.80
2            2        3.790480e-07         6.569100e-07  16226.30
3            3        6.569100e-07         1.017540e-06  18350.50
4            4        1.017540e-06         1.485580e-06  17683.70
5            5        1.485580e-06         2.093050e-06  13447.70
6            6        2.093050e-06         2.881450e-06   9599.56
7            7        2.881450e-06         3.904690e-06   7439.23
8            8        3.904690e-06         5.232720e-06   6393.39
9            9        5.232720e-06         6.956330e-06   5896.45
10          10        6.956330e-06         9.193340e-06   5645.73
11          11        9.193340e-06         1.209670e-05   5514.28
12          12        1.209670e-05         1.586480e-05   5450.91
13          13        1.586480e-05         2.075540e-05   5432.66
14          14        2.075540e-05         2.710260e-05   5446.20
15          15        2.710260e-05         3.534050e-05   5482.45
16          16        3.534050e-05         4.603220e-05   5532.11
17          17        4.603220e-05         5.990860e-05   5583.47
18          18        5.990860e-05         7.791830e-05   5624.86
19          19        7.791830e-05         1.012920e-04   5646.09
20          20        1.012920e-04         1.316290e-04   5639.81
21          21        1.316290e-04         1.710020e-04   5598.81
22          22        1.710020e-04         2.221020e-04   5516.66
23          23        2.221020e-04         2.884240e-04   5387.76
24          24        2.884240e-04         3.745000e-04   5209.17
25          25        3.745000e-04         4.862160e-04   4980.75
26          26        4.862160e-04         6.312080e-04   4705.47
27          27        6.312080e-04         8.193880e-04   4249.78
28          28        8.193880e-04         1.063620e-03   4249.78
29          29        1.063620e-03         1.380600e-03   3010.50
30          30        1.380600e-03         1.792000e-03   3010.50
31          31        1.792000e-03                  inf   3010.50

In [107]:
result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])


sorted_df = result_4.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran.to_csv("Full_table_Iran", sep = "\t", index = False)

In [108]:
df_1 = pd.read_csv("France_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("France_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("France_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("France_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("France_5.msmc.final.txt", sep="\t")

In [109]:
df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
df_5

    time_index  left_time_boundary  right_time_boundary     lambda_5
0            0        0.000000e+00         4.369740e-07  59801.70000
1            1        4.369740e-07         9.774670e-07  59801.70000
2            2        9.774670e-07         1.646000e-06  57845.20000
3            3        1.646000e-06         2.472920e-06  28254.50000
4            4        2.472920e-06         3.495730e-06  17457.90000
5            5        3.495730e-06         4.760850e-06  13046.80000
6            6        4.760850e-06         6.325680e-06  10912.40000
7            7        6.325680e-06         8.261210e-06   9720.21000
8            8        8.261210e-06         1.065530e-05   8975.53000
9            9        1.065530e-05         1.361650e-05   8484.83000
10          10        1.361650e-05         1.727930e-05   8165.83000
11          11        1.727930e-05         2.180970e-05   7967.35000
12          12        2.180970e-05         2.741340e-05   7849.47000
13          13        2.741340e-05         3.434470e-05   7780.96000
14          14        3.434470e-05         4.291800e-05   7737.51000
15          15        4.291800e-05         5.352230e-05   7699.73000
16          16        5.352230e-05         6.663880e-05   7650.35000
17          17        6.663880e-05         8.286260e-05   7574.64000
18          18        8.286260e-05         1.029300e-04   7461.35000
19          19        1.029300e-04         1.277510e-04   7302.51000
20          20        1.277510e-04         1.584520e-04   7093.58000
21          21        1.584520e-04         1.964270e-04   6833.34000
22          22        1.964270e-04         2.433980e-04   6523.56000
23          23        2.433980e-04         3.014960e-04   6167.90000
24          24        3.014960e-04         3.733580e-04   5770.79000
25          25        3.733580e-04         4.622440e-04   5335.92000
26          26        4.622440e-04         5.721880e-04   4863.44000
27          27        5.721880e-04         7.081770e-04   4083.87000
28          28        7.081770e-04         8.763820e-04   4083.87000
29          29        8.763820e-04         1.084440e-03      9.03569
30          30        1.084440e-03         1.341780e-03      9.03569
31          31        1.341780e-03                  inf      9.03569

In [110]:
result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])


sorted_df = result_4.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran.to_csv("Full_table_France", sep = "\t", index = False)

In [111]:
df_1 = pd.read_csv("ND_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("ND_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("ND_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("ND_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("ND_5.msmc.final.txt", sep="\t")

In [112]:
df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
df_5

    time_index  left_time_boundary  right_time_boundary  lambda_5
0            0        0.000000e+00         7.058810e-07  12380.20
1            1        7.058810e-07         1.578990e-06  12380.20
2            2        1.578990e-06         2.658930e-06  15283.40
3            3        2.658930e-06         3.994720e-06   6997.37
4            4        3.994720e-06         5.646950e-06   5171.22
5            5        5.646950e-06         7.690600e-06   4630.87
6            6        7.690600e-06         1.021840e-05   4426.58
7            7        1.021840e-05         1.334500e-05   4345.65
8            8        1.334500e-05         1.721240e-05   4337.41
9            9        1.721240e-05         2.199590e-05   4381.04
10          10        2.199590e-05         2.791260e-05   4456.71
11          11        2.791260e-05         3.523110e-05   4546.57
12          12        3.523110e-05         4.428320e-05   4637.19
13          13        4.428320e-05         5.547990e-05   4719.75
14          14        5.547990e-05         6.932910e-05   4789.72
15          15        6.932910e-05         8.645910e-05   4844.90
16          16        8.645910e-05         1.076470e-04   4883.45
17          17        1.076470e-04         1.338550e-04   4903.65
18          18        1.338550e-04         1.662710e-04   4903.13
19          19        1.662710e-04         2.063670e-04   4879.34
20          20        2.063670e-04         2.559620e-04   4829.73
21          21        2.559620e-04         3.173050e-04   4752.35
22          22        3.173050e-04         3.931810e-04   4646.15
23          23        3.931810e-04         4.870330e-04   4511.50
24          24        4.870330e-04         6.031170e-04   4349.59
25          25        6.031170e-04         7.467020e-04   4162.49
26          26        7.467020e-04         9.243030e-04   3953.35
27          27        9.243030e-04         1.143980e-03   3640.02
28          28        1.143980e-03         1.415690e-03   3640.02
29          29        1.415690e-03         1.751780e-03   2487.29
30          30        1.751780e-03         2.167490e-03   2487.29
31          31        2.167490e-03                  inf   2487.29

In [113]:
result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])


sorted_df = result_4.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran.to_csv("Full_table_ND", sep = "\t", index = False)

In [123]:
df_1 = pd.read_csv("Iran_ND_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("Iran_ND_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("Iran_ND_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("Iran_ND_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("Iran_ND_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("Ir-ND.allrates.txt", sep="\t")

df_6

,time_index,left_time_boundary,right_time_boundary,lambda_00,lambda_01,lambda_11
0,0,0.000000e+00,1.073430e-07,16518.600,874.146,7568.716
1,1,1.073430e-07,2.544570e-07,16518.600,874.146,10506.724
2,2,2.544570e-07,4.560790e-07,16414.890,2871.750,15449.680
3,3,4.560790e-07,7.324030e-07,16605.020,6220.720,16682.800
4,4,7.324030e-07,1.111110e-06,18201.960,10169.300,15007.600
5,5,1.111110e-06,1.630130e-06,16829.960,11566.000,12307.550
6,6,1.630130e-06,2.341450e-06,12293.277,9050.450,9089.881
7,7,2.341450e-06,3.316320e-06,8737.182,6122.020,6985.435
8,8,3.316320e-06,4.652400e-06,6916.860,4448.800,5616.516
9,9,4.652400e-06,6.483500e-06,6095.556,3616.060,4983.812
10,10,6.483500e-06,8.993040e-06,5695.696,3131.250,4694.410
11,11,8.993040e-06,1.243240e-05,5527.184,2745.340,4566.378
12,12,1.243240e-05,1.714610e-05,5447.158,2422.060,4519.596
13,13,1.714610e-05,2.360620e-05,5437.910,2198.300,4530.928
14,14,2.360620e-05,3.245990e-05,5467.826,2075.060,4579.430
15,15,3.245990e-05,4.459390e-05,5517.144,2018.750,4635.828
16,16,4.459390e-05,6.122370e-05,5578.290,1995.640,4672.740
17,17,6.122370e-05,8.401500e-05,5629.028,1984.600,4672.992
18,18,8.401500e-05,1.152510e-04,5643.604,1973.970,4634.795
19,19,1.152510e-04,1.580600e-04,5615.212,1957.100,4537.326
20,20,1.580600e-04,2.167300e-04,5541.294,1929.610,4377.482
21,21,2.167300e-04,2.971380e-04,5382.788,1887.990,4154.418
22,22,2.971380e-04,4.073370e-04,5163.474,1829.210,3877.278
23,23,4.073370e-04,5.583670e-04,4870.618,1751.440,3596.910
24,24,5.583670e-04,7.653550e-04,4432.024,1655.450,3121.470
25,25,7.653550e-04,1.049030e-03,4249.740,1545.380,3121.470
26,26,1.049030e-03,1.437820e-03,3134.361,1427.630,1976.940
27,27,1.437820e-03,1.970650e-03,3010.430,1257.460,1976.940
28,28,1.970650e-03,2.700910e-03,3010.430,1257.460,1976.940
29,29,2.700910e-03,3.701720e-03,3010.430,892.017,1976.940
30,30,3.701720e-03,5.073360e-03,3010.430,892.017,1976.940
31,31,5.073360e-03,inf,3010.430,892.017,1976.940

In [124]:
df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

In [128]:
result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_IR_ND", sep = "\t", index = False)

In [129]:
df_1 = pd.read_csv("Iran_France_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("Iran_France_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("Iran_France_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("Iran_France_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("Iran_France_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("Ir-Fr.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_IR_Fr", sep = "\t", index = False)

In [130]:
df_1 = pd.read_csv("Iran_Mixed_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("Iran_Mixed_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("Iran_Mixed_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("Iran_Mixed_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("Iran_Mixed_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("Ir-Mixed.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_IR_Mixed", sep = "\t", index = False)

In [131]:
df_1 = pd.read_csv("Iran_Morocco_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("Iran_Morocco_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("Iran_Morocco_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("Iran_Morocco_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("Iran_Morocco_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("Ir-Morocco.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_IR_Morocco", sep = "\t", index = False)

In [133]:
df_1 = pd.read_csv("ND_France_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("ND_France_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("ND_France_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("ND_France_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("ND_France_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("ND_Fr.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_ND_France", sep = "\t", index = False)

In [134]:
df_1 = pd.read_csv("ND_Mixed_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("ND_Mixed_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("ND_Mixed_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("ND_Mixed_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("ND_Mixed_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("ND_Mixed.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_ND_Mixed", sep = "\t", index = False)

In [135]:
df_1 = pd.read_csv("ND_Morocco_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("ND_Morocco_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("ND_Morocco_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("ND_Morocco_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("ND_Morocco_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("ND_Morocco.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_ND_Morocco", sep = "\t", index = False)

In [136]:
df_1 = pd.read_csv("ND_Morocco_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("ND_Morocco_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("ND_Morocco_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("ND_Morocco_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("ND_Morocco_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("ND_Morocco.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_ND_Morocco", sep = "\t", index = False)

In [140]:
df_1 = pd.read_csv("France_Mixed_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("France_Mixed_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("France_Mixed_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("France_Mixed_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("France_Mixed_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("Fr-Morocco.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_Fr_Mixed", sep = "\t", index = False)

In [143]:
df_1 = pd.read_csv("France_Morocco_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("France_Morocco_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("France_Morocco_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("France_Morocco_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("France_Morocco_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("Fr-Morocco.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_Fr_Morocco", sep = "\t", index = False)

In [144]:
df_1 = pd.read_csv("Mixed_Morocco_1.msmc.final.txt", sep="\t")
df_2 = pd.read_csv("Mixed_Morocco_2.msmc.final.txt", sep="\t")
df_3 = pd.read_csv("Mixed_Morocco_3.msmc.final.txt", sep="\t")
df_4 = pd.read_csv("Mixed_Morocco_4.msmc.final.txt", sep="\t")
df_5 = pd.read_csv("Mixed_Morocco_5.msmc.final.txt", sep="\t")
df_6 = pd.read_csv("Mixed-Morocco.allrates.txt", sep="\t")

df_6

df_1.rename(columns={'lambda': 'lambda_1'}, inplace=True)
df_2.rename(columns={'lambda': 'lambda_2'}, inplace=True)
df_3.rename(columns={'lambda': 'lambda_3'}, inplace=True)
df_4.rename(columns={'lambda': 'lambda_4'}, inplace=True)
df_5.rename(columns={'lambda': 'lambda_5'}, inplace=True)
#df_5

result_1 = pd.merge(df_1,df_2, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_2 = pd.merge(result_1,df_3, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_3 = pd.merge(result_2,df_4, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_4 = pd.merge(result_3,df_5, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])
result_5 = pd.merge(result_4,df_6, how="outer", on=["time_index","left_time_boundary","right_time_boundary"])

sorted_df = result_5.sort_values("left_time_boundary")

sorted_fill = sorted_df.interpolate()
full_fill_Iran = sorted_fill.bfill()
full_fill_Iran
full_fill_Iran.to_csv("Full_table_Mixed_Morocco", sep = "\t", index = False)