In [7]:
import pandas as pd
import numpy as np
import glob

In [8]:
col_names=['Pos', 'Start', 'End', 'Pi', 'SFS','LD','Mu'] 
def read_RaisD_Reps(f,chrom):
    df = pd.read_table(f, skiprows= 1, names=col_names)
    df['Chr'] = chrom
    df = df[['Chr','Start','End','Mu']]
    return df

In [9]:
chr1 = read_RaisD_Reps('RAiSD_Report.France_Chr1.out','Chr1')
chr2 = read_RaisD_Reps('RAiSD_Report.France_Chr2.out','Chr2')
chr3 = read_RaisD_Reps('RAiSD_Report.France_Chr3.out','Chr3')
chr4 = read_RaisD_Reps('RAiSD_Report.France_Chr4.out','Chr4')
chr5 = read_RaisD_Reps('RAiSD_Report.France_Chr5.out','Chr5')
chr6 = read_RaisD_Reps('RAiSD_Report.France_Chr6.out','Chr6')
chr7 = read_RaisD_Reps('RAiSD_Report.France_Chr7.out','Chr7')
chr8 = read_RaisD_Reps('RAiSD_Report.France_Chr8.out','Chr8')
chr9 = read_RaisD_Reps('RAiSD_Report.France_Chr9.out','Chr9')
chr10 = read_RaisD_Reps('RAiSD_Report.France_Chr10.out','Chr10')
chr11 = read_RaisD_Reps('RAiSD_Report.France_Chr11.out','Chr11')
chr12 = read_RaisD_Reps('RAiSD_Report.France_Chr12.out','Chr12')

In [10]:
full_RaisD = chr1.append(chr2)
full_RaisD = full_RaisD.append(chr3)
full_RaisD = full_RaisD.append(chr4)
full_RaisD = full_RaisD.append(chr5)
full_RaisD = full_RaisD.append(chr6)
full_RaisD = full_RaisD.append(chr7)
full_RaisD = full_RaisD.append(chr8)
full_RaisD = full_RaisD.append(chr9)
full_RaisD = full_RaisD.append(chr10)
full_RaisD = full_RaisD.append(chr11)
full_RaisD = full_RaisD.append(chr12)
full_RaisD

        Chr    Start      End      Mu
0      Chr1     1195    14359   4.986
1      Chr1     1198    14377   5.212
2      Chr1     1264    14378   5.187
3      Chr1     1276    14387   4.151
4      Chr1     1290    14390   4.229
...     ...      ...      ...     ...
2522  Chr12  1213532  1273920   9.620
2523  Chr12  1213795  1273921  10.380
2524  Chr12  1217605  1273934   9.721
2525  Chr12  1218494  1275448  10.950
2526  Chr12  1218576  1283998  13.060

[67384 rows x 4 columns]

In [11]:
full_RaisD.to_csv('full_RaisD', header = True, index = False, sep = '\t')